
.idea/
.dart_tool
build/

apps/renspine/assets/chibi-stickers/source/
apps/renfly/.flutter-plugins-dependencies
apps/renfly/assets/games/Confession-1.03-pc/
apps/renfly/assets/games/Confession-1.03-pc.zip
