[submodule "packages/renpy_core"]
	path = packages/renpy_core
	url = https://git.cypherstack.com/FiestaBerry/renpy_core.git
[submodule "packages/renpy_flutter"]
	path = packages/renpy_flutter
	url = https://git.cypherstack.com/FiestaBerry/renpy_flutter.git
[submodule "examples/flutteren"]
	path = examples/flutteren
	url = https://git.cypherstack.com/FiestaBerry/flutteren.git